Repository 2022-mwomeokji/2022-MMG, pull requests merged in 2022-08, with the labels that each got.

#18 feat: question 도메인 연관관계 매핑
  backend/src/main/java/com/umc/mwomeokji/domain/question/api/QuestionController.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/domain/Question.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionDto.java
Labels: backend, 🕹 기능

#19 feat: Dish 도메인 인수/단위 테스트 기본 형태 작성 완료
  backend/build.gradle
  backend/src/main/java/com/umc/mwomeokji/MwomeokjiApplication.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dto/DishMapper.java
  backend/src/main/java/com/umc/mwomeokji/global/config/jpaAuditing/JpaAuditingConfiguration.java
  backend/src/test/java/com/umc/mwomeokji/MwomeokjiApplicationTests.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/AcceptanceTest.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/DatabaseCleaner.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/dish/DishAcceptanceTest.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/dish/DishAcceptanceTestTool.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/question/dummy.txt
  backend/src/test/java/com/umc/mwomeokji/domain/dish/api/DishControllerTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/dish/application/DishServiceImplTest.java
Labels: backend, 🕹 기능

#22 style: dishesNameResponse 를 dishNameResponse 로 수정
  backend/src/main/java/com/umc/mwomeokji/domain/dish/api/DishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/application/DishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/application/DishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dto/DishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dto/DishMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/api/QuestionController.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionService.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/domain/Question.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/domain/QuestionDish.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionMapper.java
  backend/src/test/java/com/umc/mwomeokji/domain/dish/api/DishControllerTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/dish/application/DishServiceImplTest.java
Labels: :hammer: 수정, backend

#26 feat: Quesiton, Dish local 테스트를 위한 더미테이터 생성 기능 구현
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/LocalDataController.java
  backend/src/main/java/com/umc/mwomeokji/LocalDataStarter.java
  backend/src/main/java/com/umc/mwomeokji/MwomeokjiApplication.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/application/QuestionDishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/application/QuestionDishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/dao/QuestionDishRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/domain/QuestionDish.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/dto/QuestionDishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/dto/QuestionDishMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/domain/Question.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionMapper.java
Labels: ⚙️ 설정, backend, 🕹 기능

#27 question 테스트 코드 작성
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/dao/dto/QuestionDishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/dao/dto/QuestionDishMapper.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/question/QuestionAcceptanceTest.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/question/QuestionAcceptanceTestTool.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/question/dummy.txt
  backend/src/test/java/com/umc/mwomeokji/domain/question/api/QuestionControllerTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImplTest.java
Labels: backend, 🕹 기능

#31 fix: @Profile 로 인한 인수테스트 에러 수정
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/LocalDataController.java
  backend/src/main/java/com/umc/mwomeokji/LocalDataStarter.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/umc/mwomeokji/acceptance/AcceptanceTest.java
  backend/src/test/resources/application-test.yml
Labels: :hammer: 수정, :wrench: 리팩토링, ⚙️ 설정, backend

#39 feat: 음식 랜덤 조회 API 작성
  backend/src/main/java/com/umc/mwomeokji/domain/dish/api/DishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/application/DishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/application/DishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dao/DishRepository.java
Labels: backend, 🕹 기능

#44 feat: QuestionDish 저장 기능 구현 및 local 테스트용 더미데이터 생성 완료
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/application/QuestionDishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/application/QuestionDishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/QuestionDish/dao/dto/QuestionDishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/api/QuestionController.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/domain/Question.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/exception/NotFoundQuestionException.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/exception/dummy.txt
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/api/QuestionDishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/application/QuestionDishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/application/QuestionDishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/dao/QuestionDishRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/domain/QuestionDish.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/dto/QuestionDishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/dto/QuestionDishMapper.java
  backend/src/main/java/com/umc/mwomeokji/global/error/GlobalExceptionHandler.java
  backend/src/main/java/com/umc/mwomeokji/global/error/exception/ExceptionCodeAndDetails.java
Labels: ⚙️ 설정, backend, 🕹 기능

#58 feat/fix/docs: API 자동 문서화 Swagger UI 적용, CORS allowed origins 수정
  backend/build.gradle
  backend/src/main/java/com/umc/mwomeokji/LocalDataController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/api/DishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/api/QuestionController.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/api/QuestionDishController.java
  backend/src/main/java/com/umc/mwomeokji/global/config/WebMvcConfig.java
  backend/src/main/resources/application-local.yml
Labels: ⚙️ 설정, backend, 🕹 기능, frontend

#60 chore: 더미 데이터 질문, 메뉴 추가
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
Labels: ⚙️ 설정, backend

#63 feat: 메뉴의 총 개수 조회, 이름을 통한 상세 정보 조회 API 작성
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/api/DishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/application/DishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/application/DishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dao/DishRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dto/DishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dto/DishMapper.java
  backend/src/main/java/com/umc/mwomeokji/global/error/GlobalExceptionHandler.java
  backend/src/main/java/com/umc/mwomeokji/global/error/exception/ExceptionCodeAndDetails.java
Labels: backend, 🕹 기능

#64 fix: 깨지는 테스트코드에 대해 @Disabled 처리, 추후 재작성
  backend/src/test/java/com/umc/mwomeokji/acceptance/dish/DishAcceptanceTest.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/question/QuestionAcceptanceTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/dish/application/DishServiceImplTest.java
Labels: :hammer: 수정, backend

#75 fix: navbar 드롭다운메뉴 수정
  frontend/front_head/index.html
  frontend/front_head/nav.html
  frontend/front_head/style.css
Labels: :hammer: 수정, 📱 UI, frontend

#76 Fix/application yml
  backend/src/main/resources/application-local.yml
Labels: :hammer: 수정, backend

#81 fix: navbar 내용 수정
  frontend/front_head/nav.html
  frontend/front_head/style.css
Labels: :hammer: 수정, frontend

#83 feat: Category 도메인 추가, 모든 카테고리 조회 API, 랜덤 메뉴 조회 API, fix: dto 변수명 변경, 코드 변경으로 인한 테스트코드 수정
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/api/CategoryController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/application/CategoryService.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/application/CategoryServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/dao/CategoryRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/domain/Category.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/dto/CategoryDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/dto/CategoryMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/exception/NotFoundCategoryException.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dao/DishRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/api/DishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/application/DishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/application/DishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/dao/DishRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/domain/Dish.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/dto/DishDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/dto/DishMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/exception/NotFoundDishException.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dto/DishMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/api/QuestionController.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionService.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/api/QuestionDishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/application/QuestionDishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/domain/QuestionDish.java
  backend/src/main/java/com/umc/mwomeokji/global/config/auth/dummy.txt
  backend/src/main/java/com/umc/mwomeokji/global/config/aws/dummy.txt
  backend/src/main/java/com/umc/mwomeokji/global/error/GlobalExceptionHandler.java
  backend/src/main/java/com/umc/mwomeokji/global/error/exception/ExceptionCodeAndDetails.java
  backend/src/main/java/com/umc/mwomeokji/global/util/dummy.txt
  backend/src/test/java/com/umc/mwomeokji/acceptance/dish/DishAcceptanceTestTool.java
  backend/src/test/java/com/umc/mwomeokji/acceptance/question/QuestionAcceptanceTestTool.java
  backend/src/test/java/com/umc/mwomeokji/domain/dish/api/DishControllerTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/dish/application/DishServiceImplTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/question/api/QuestionControllerTest.java
  backend/src/test/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImplTest.java
Labels: :hammer: 수정, :wrench: 리팩토링, ⚙️ 설정, backend, 🕹 기능

#84 fix: Jar task 를 통해 생성되는 plain archive 비활성화
  backend/build.gradle
Labels: :hammer: 수정, 🎯 배포, 🏗 인프라, backend

#82 feat: 가위바위보 기능 구현
  .gitignore
  .vscode/settings.json
  frontend/front_rps/img_rps/Ic_Exit.svg
  frontend/front_rps/img_rps/arrow_back.svg
  frontend/front_rps/img_rps/edit_button.svg
  frontend/front_rps/img_rps/img_check.svg
  frontend/front_rps/img_rps/img_p.svg
  frontend/front_rps/img_rps/img_p_gray.svg
  frontend/front_rps/img_rps/img_p_sign.svg
  frontend/front_rps/img_rps/img_r.svg
  frontend/front_rps/img_rps/img_r_gray.svg
  frontend/front_rps/img_rps/img_r_sign.svg
  frontend/front_rps/img_rps/img_s.svg
  frontend/front_rps/img_rps/img_s_gray.svg
  frontend/front_rps/img_rps/img_s_sign.svg
  frontend/front_rps/img_rps/minus_btn.svg
  frontend/front_rps/img_rps/next_button.svg
  frontend/front_rps/img_rps/next_button_gray.svg
  frontend/front_rps/img_rps/plus_btn.svg
  frontend/front_rps/img_rps/rps_input_plate.svg
  frontend/front_rps/img_rps/rps_loading_img.svg
  frontend/front_rps/img_rps/rps_main_sec_button.svg
  frontend/front_rps/img_rps/rps_main_sec_logo.svg
  frontend/front_rps/img_rps/rps_main_sec_word.svg
  frontend/front_rps/img_rps/rps_result_deco_left.svg
  frontend/front_rps/img_rps/rps_result_deco_right.svg
  frontend/front_rps/img_rps/rps_result_enjoy.svg
  frontend/front_rps/img_rps/rps_result_plate.svg
  frontend/front_rps/img_rps/rps_result_share.svg
  frontend/front_rps/img_rps/rps_result_winner_deco.svg
  frontend/front_rps/img_rps/top_button.svg
  frontend/front_rps/rps_input.css
  frontend/front_rps/rps_input.html
  frontend/front_rps/rps_input.js
  frontend/front_rps/rps_loading.css
  frontend/front_rps/rps_loading.html
  frontend/front_rps/rps_main.css
  frontend/front_rps/rps_main.html
  frontend/front_rps/rps_result.css
  frontend/front_rps/rps_result.html
  frontend/front_rps/rps_result.js
Labels: 📱 UI, 🕹 기능, frontend

#90 edit: main file
  frontend/front_main/main_main_sec.css
Labels: :hammer: 수정, 📱 UI, frontend

#91 Feature/front twenty page 스무고개 1차 완성본입니다
  .gitignore
  frontend/.vscode/settings.json
  frontend/dummy_file.txt
  frontend/front_head/includeHTML.js
  frontend/front_head/index.html
  frontend/front_twenty/_twenty_loading.html
  frontend/front_twenty/img_file_twenty/new.svg
  frontend/front_twenty/img_file_twenty/twenty.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_answer_background.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_bar.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_choose_more.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_cold-soup.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_guess_background.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_hot-soup.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_noddle.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_reset.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_rice.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_arrow_back.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_bar.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_guess_background.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_next.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_reset.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_skip_guess.svg
  frontend/front_twenty/img_file_twenty/twenty_loading.svg
  frontend/front_twenty/img_file_twenty/twenty_main_cross.svg
  frontend/front_twenty/img_file_twenty/twenty_main_logo_new.svg
  frontend/front_twenty/img_file_twenty/twenty_main_sec_botton.svg
  frontend/front_twenty/img_file_twenty/twenty_main_sec_logo.svg
  frontend/front_twenty/img_file_twenty/twenty_main_sec_word.svg
  frontend/front_twenty/img_file_twenty/twenty_result_check_recipe.svg
  frontend/front_twenty/img_file_twenty/twenty_result_check_recipe2.svg
  frontend/front_twenty/img_file_twenty/twenty_result_connect_bottom.svg
  frontend/front_twenty/img_file_twenty/twenty_result_connect_line.svg
  frontend/front_twenty/img_file_twenty/twenty_result_connect_top.svg
  frontend/front_twenty/img_file_twenty/twenty_result_go_top.svg
  frontend/front_twenty/img_file_twenty/twenty_result_orane_button.svg
  frontend/front_twenty/img_file_twenty/twenty_result_replace_img.svg
  frontend/front_twenty/img_file_twenty/twenty_result_restaurant_list.svg
  frontend/front_twenty/img_file_twenty/twenty_result_restaurant_list2.svg
  frontend/front_twenty/img_file_twenty/twenty_result_wave.svg
  frontend/front_twenty/img_file_twenty/twenty_result_yellow_button.svg
  frontend/front_twenty/twenty_guess.css
  frontend/front_twenty/twenty_guess.html
  frontend/front_twenty/twenty_guess.js
  frontend/front_twenty/twenty_loading.css
  frontend/front_twenty/twenty_loading.html
  frontend/front_twenty/twenty_loading.js
  frontend/front_twenty/twenty_main.css
  frontend/front_twenty/twenty_main.html
  frontend/front_twenty/twenty_main.js
  frontend/front_twenty/twenty_result.css
  frontend/front_twenty/twenty_result.html
  frontend/front_twenty/twenty_result.js
Labels: 📱 UI, 🕹 기능, frontend

#97 fix, refator: 데이터 저장 스크립트 작성 완료, 저장 시간 단축을 위한 코드 리팩토링
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/infra/s3/FileServiceImpl.java
  backend/src/main/resources/application.yml
Labels: :hammer: 수정, :wrench: 리팩토링, backend

#98 feat: 파일 업로드 사이즈 초과에 대한 예외 처리
  backend/src/main/java/com/umc/mwomeokji/global/error/GlobalExceptionHandler.java
  backend/src/main/java/com/umc/mwomeokji/global/error/exception/ExceptionCodeAndDetails.java
Labels: backend, 🕹 기능

#106 feat/fix: 스무고개 기능구현 완료
  frontend/front_twenty/img_file_twenty/twenty_guess_answer_white.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_choose_more.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_choose_more_before.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_guess_long.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_yellow_answer.svg
  frontend/front_twenty/twenty_guess.css
  frontend/front_twenty/twenty_guess.html
  frontend/front_twenty/twenty_guess.js
  frontend/front_twenty/twenty_loading.css
  frontend/front_twenty/twenty_loading.html
  frontend/front_twenty/twenty_main.html
  frontend/front_twenty/twenty_result.html
  frontend/front_twenty/twenty_result.js
Labels: :hammer: 수정, 📱 UI, frontend

#107 feat:loading page 수정
  frontend/front_twenty/twenty_loading.css
  frontend/front_twenty/twenty_loading.js
Labels: :hammer: 수정, 📱 UI, frontend

#108 feat: GitHub Actions 에서 빌드한 Jar 파일을 AWS S3 로 전송
  .github/workflows/backend-build.yml
  .github/workflows/backend-develop-test.yml
Labels: 🎯 배포, 🏗 인프라, backend

#120 feat: CodeDeploy 배포 자동화 구성 완료
  .github/workflows/backend-build.yml
  backend/appspec.yml
  backend/scripts/deploy.sh
Labels: 🎯 배포, 🏗 인프라, backend

#124 fix: timezone 설정, 기타 오타 수정
  backend/build.gradle
  backend/scripts/find_port.sh
  backend/scripts/health.sh
  backend/scripts/stop.sh
Labels: 🎯 배포, 🏗 인프라, 🐛버그, backend

#130 feat: front_recipe page
  frontend/front_main/img_foot/blog.svg
  frontend/front_main/img_foot/foot_logo.svg
  frontend/front_main/img_foot/insta.svg
  frontend/front_main/img_foot/kakao.svg
  frontend/front_main/img_nav/Ic_Search.svg
  frontend/front_main/img_nav/nav_logo.svg
  frontend/front_main/main_main_sec.css
  frontend/front_main/main_main_sec.html
  frontend/front_main/main_main_sec.js
  frontend/front_recipe/img_recipe/recipe_backbutton.svg
  frontend/front_recipe/img_recipe/recipe_bookmark.svg
  frontend/front_recipe/img_recipe/recipe_bookmark1.svg
  frontend/front_recipe/img_recipe/recipe_img.svg
  frontend/front_recipe/img_recipe/recipe_line.svg
  frontend/front_recipe/img_recipe/recipe_line2.svg
  frontend/front_recipe/img_recipe/recipe_logo.svg
  frontend/front_recipe/img_recipe/recipe_logo2.svg
  frontend/front_recipe/img_recipe/recipe_scroll.svg
  frontend/front_recipe/img_recipe/recipe_star.svg
  frontend/front_recipe/img_recipe/recipe_star1.svg
  frontend/front_recipe/recipe.css
  frontend/front_recipe/recipe.html
  frontend/front_recipe/recipe.js
Labels: :hammer: 수정, 📱 UI, frontend

#129 edit: main 가로 크기 조절 및 onclick 변경
  .vscode/settings.json
  frontend/front_main/main_main_sec.css
  frontend/front_main/main_main_sec.js
Labels: :hammer: 수정, 📱 UI, frontend

#126 feat/fix: 가위바위보 hover, 뒤로가기, url 수정
  frontend/front_rps/rps_input.css
  frontend/front_rps/rps_input.html
  frontend/front_rps/rps_input.js
  frontend/front_rps/rps_loading.css
  frontend/front_rps/rps_loading.html
  frontend/front_rps/rps_main.css
  frontend/front_rps/rps_main.html
  frontend/front_rps/rps_result.css
  frontend/front_rps/rps_result.html
  frontend/front_rps/rps_result.js
  frontend/front_rps/rps_tutorial.css
  frontend/front_rps/rps_tutorial.html
Labels: :hammer: 수정, 📱 UI, frontend

#131 feat:랜덤 기능 완성
  frontend/front_main/main_main_sec.css
  frontend/front_main/main_main_sec.html
  frontend/front_main/main_main_sec.js
  frontend/front_random/.vscode/settings.json
  frontend/front_random/img_random/random_category_sec_back.svg
  frontend/front_random/img_random/random_category_sec_cat1.svg
  frontend/front_random/img_random/random_category_sec_cat2.svg
  frontend/front_random/img_random/random_category_sec_cat3.svg
  frontend/front_random/img_random/random_category_sec_cat4.svg
  frontend/front_random/img_random/random_category_sec_cat5.svg
  frontend/front_random/img_random/random_category_sec_cat6.svg
  frontend/front_random/img_random/random_category_sec_check.svg
  frontend/front_random/img_random/random_category_sec_menu.svg
  frontend/front_random/img_random2/Button_Next.svg
  frontend/front_random/img_random2/Button_Start.svg
  frontend/front_random/img_random2/ran_listedit_additem_button.svg
  frontend/front_random/img_random2/ran_listedit_back_button.svg
  frontend/front_random/img_random2/ran_listedit_category_img.svg
  frontend/front_random/img_random2/ran_listedit_lefttnext_button.svg
  frontend/front_random/img_random2/ran_listedit_list_itemBox_background_edit.svg
  frontend/front_random/img_random2/ran_listedit_list_itemBox_button_delete.svg
  frontend/front_random/img_random2/ran_listedit_list_itemBox_button_editdone.svg
  frontend/front_random/img_random2/ran_listedit_list_itembox_background.svg
  frontend/front_random/img_random2/ran_listedit_listbox.svg
  frontend/front_random/img_random2/ran_listedit_rightnext_button.svg
  frontend/front_random/img_random2/ran_start_exit_Button.svg
  frontend/front_random/img_random2/ran_start_frame.svg
  frontend/front_random/img_random2/ran_start_frame_img.svg
  frontend/front_random/img_random2/ran_start_slang.svg
  frontend/front_random/img_result/random_again_button.svg
  frontend/front_random/img_result/random_result_check_recipe.svg
  frontend/front_random/img_result/random_result_check_recipe2.svg
  frontend/front_random/img_result/random_result_connect_bottom.svg
  frontend/front_random/img_result/random_result_connect_line.svg
  frontend/front_random/img_result/random_result_connect_top.svg
  frontend/front_random/img_result/random_result_go_top.svg
  frontend/front_random/img_result/random_result_logo_new.png
  frontend/front_random/img_result/random_result_orane_button.svg
  frontend/front_random/img_result/random_result_replace_img.svg
  frontend/front_random/img_result/random_result_restaurant_list.svg
  frontend/front_random/img_result/random_result_restaurant_list2.svg
  frontend/front_random/img_result/random_result_wave.svg
  frontend/front_random/img_result/random_result_yellow_button.svg
  frontend/front_random/ran_listedit_real.css
  frontend/front_random/ran_listedit_real.html
  frontend/front_random/ran_listedit_real.js
  frontend/front_random/ran_loading.css
  frontend/front_random/ran_loading.html
  frontend/front_random/ran_loading.js
  frontend/front_random/ran_loadong.html
  frontend/front_random/ran_pick.js
  frontend/front_random/ran_result.css
  frontend/front_random/ran_result.html
  frontend/front_random/ran_start.css
  frontend/front_random/random_category_sec.css
  frontend/front_random/random_category_sec.html
  frontend/front_random/random_category_sec.js
Labels: 📱 UI, 🕹 기능, frontend

#133 feat: 사이트 간 연결
  frontend/front_main/main_main_sec.js
  frontend/front_random/img_result/random_result_restaurant_list3.svg
  frontend/front_random/ran_loading.html
  frontend/front_random/ran_loadong.html
  frontend/front_random/ran_result.html
  frontend/front_random/ran_start.css
  frontend/front_random/ran_start.html
  frontend/front_twenty/img_file_twenty/twenty_result_restaurant_list3.svg
  frontend/front_twenty/twenty_result.html
Labels: :hammer: 수정, 📱 UI, 🕹 기능, frontend

#134 feat:데모데이 시작 전 스무고개
  frontend/front_twenty/img_file_twenty/background.svg
  frontend/front_twenty/img_file_twenty/new_background.svg
  frontend/front_twenty/img_file_twenty/twenty_result_top_button.svg
  frontend/front_twenty/twenty_guess.css
  frontend/front_twenty/twenty_guess.html
  frontend/front_twenty/twenty_guess.js
  frontend/front_twenty/twenty_loading.html
  frontend/front_twenty/twenty_loading.js
  frontend/front_twenty/twenty_main.css
  frontend/front_twenty/twenty_main.html
  frontend/front_twenty/twenty_result.css
  frontend/front_twenty/twenty_result.html
  frontend/front_twenty/twenty_result.js
  frontend/front_twenty/twenty_tutorial.css
  frontend/front_twenty/twenty_tutorial.html
Labels: :hammer: 수정, 📱 UI, frontend

#135 feat:애니메이션 수정 성공
  frontend/front_twenty/twenty_guess.html
  frontend/front_twenty/twenty_guess.js
Labels: :hammer: 수정, 📱 UI, frontend

#136 fix: 가위바위보 대체 이미지 연결 수정
  frontend/front_rps/rps_result.js
Labels: :hammer: 수정, 📱 UI, frontend
