Repository 2022-mwomeokji/2022-MMG, pull requests merged in 2022-09, with the labels that each got.

#145 refactor: 가위바위보 변수명, 메소드 수정
  frontend/front_rps/img_rps/Ic_Exit.svg
  frontend/front_rps/img_rps/arrow_back.svg
  frontend/front_rps/rps_input.css
  frontend/front_rps/rps_input.html
  frontend/front_rps/rps_input.js
  frontend/front_rps/rps_loading.css
  frontend/front_rps/rps_loading.html
  frontend/front_rps/rps_main.css
  frontend/front_rps/rps_main.html
  frontend/front_rps/rps_result.css
  frontend/front_rps/rps_result.html
  frontend/front_rps/rps_result.js
  frontend/front_rps/rps_tutorial.css
  frontend/front_rps/rps_tutorial.html
Labels: :wrench: 리팩토링, frontend

#148 fix: request 파일 최대 용량 수정
  backend/src/main/resources/application.yml
Labels: :hammer: 수정, backend

#149 ref: 메인화면 css 수정
  frontend/front_main/main_main_sec.css
  frontend/front_main/main_main_sec.html
  frontend/front_main/main_main_sec.js
Labels: :hammer: 수정, :wrench: 리팩토링, frontend

#146 refactor: 스무고개 버전업 준비 및 버그수정
  frontend/.vscode/settings.json
  frontend/front_twenty/img_file_twenty/background.svg
  frontend/front_twenty/img_file_twenty/new.svg
  frontend/front_twenty/img_file_twenty/new_background.svg
  frontend/front_twenty/img_file_twenty/twenty.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_answer_background.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_choose_more_before.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_cold-soup.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_hot-soup.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_noddle.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_rice.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_bar.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_guess_background.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_next.svg
  frontend/front_twenty/img_file_twenty/twenty_guess_sec_reset.svg
  frontend/front_twenty/img_file_twenty/twenty_loading.svg
  frontend/front_twenty/img_file_twenty/twenty_main_cross.svg
  frontend/front_twenty/img_file_twenty/twenty_main_image_logo.svg
  frontend/front_twenty/img_file_twenty/twenty_main_sec_word.svg
  frontend/front_twenty/img_file_twenty/twenty_main_start_botton.svg
  frontend/front_twenty/img_file_twenty/twenty_main_word_logo.svg
  frontend/front_twenty/img_file_twenty/twenty_result_check_recipe.svg
  frontend/front_twenty/img_file_twenty/twenty_result_check_recipe2.svg
  frontend/front_twenty/img_file_twenty/twenty_result_connect_line.svg
  frontend/front_twenty/img_file_twenty/twenty_result_go_top.svg
  frontend/front_twenty/img_file_twenty/twenty_result_orane_button.svg
  frontend/front_twenty/img_file_twenty/twenty_result_restaurant_list.svg
  frontend/front_twenty/img_file_twenty/twenty_result_restaurant_list2.svg
  frontend/front_twenty/img_file_twenty/twenty_result_restaurant_list3.svg
  frontend/front_twenty/img_file_twenty/twenty_result_yellow_button.svg
  frontend/front_twenty/img_file_twenty/twenty_tutorial_logo.svg
  frontend/front_twenty/twenty_guess.css
  frontend/front_twenty/twenty_guess.html
  frontend/front_twenty/twenty_guess.js
  frontend/front_twenty/twenty_loading.css
  frontend/front_twenty/twenty_loading.html
  frontend/front_twenty/twenty_loading.js
  frontend/front_twenty/twenty_main.css
  frontend/front_twenty/twenty_main.html
  frontend/front_twenty/twenty_result.css
  frontend/front_twenty/twenty_result.html
  frontend/front_twenty/twenty_result.js
  frontend/front_twenty/twenty_tutorial.css
  frontend/front_twenty/twenty_tutorial.html
Labels: :wrench: 리팩토링, 🐛버그, frontend

#157 fix: 스무고개 수치 단위 수정
  frontend/front_twenty/img_file_twenty/twenty_main_start_botton.svg
  frontend/front_twenty/twenty_guess.css
  frontend/front_twenty/twenty_guess.html
  frontend/front_twenty/twenty_guess.js
  frontend/front_twenty/twenty_loading.css
  frontend/front_twenty/twenty_loading.html
  frontend/front_twenty/twenty_main.css
  frontend/front_twenty/twenty_main.html
  frontend/front_twenty/twenty_result.css
  frontend/front_twenty/twenty_result.html
  frontend/front_twenty/twenty_tutorial.css
  frontend/front_twenty/twenty_tutorial.html
Labels: :hammer: 수정, 📱 UI, frontend

#154 fix: 가위바위보 수치 단위 수정
  frontend/front_rps/rps_input.css
  frontend/front_rps/rps_input.html
  frontend/front_rps/rps_loading.css
  frontend/front_rps/rps_loading.html
  frontend/front_rps/rps_main.css
  frontend/front_rps/rps_main.html
  frontend/front_rps/rps_result.css
  frontend/front_rps/rps_result.html
  frontend/front_rps/rps_tutorial.css
  frontend/front_rps/rps_tutorial.html
Labels: :hammer: 수정, 📱 UI, frontend

#156 feat: csv 파일을 이용한 질문, 질문-메뉴 쌍 저장 기능 구현
  backend/src/main/java/com/umc/mwomeokji/DataLoader.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/application/DishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/dao/DishRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/api/QuestionController.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionService.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/api/QuestionDishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/application/QuestionDishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/application/QuestionDishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/dto/QuestionDishDto.java
  backend/src/main/java/com/umc/mwomeokji/global/util/csv/QuestionCsvReader.java
  backend/src/main/java/com/umc/mwomeokji/global/util/csv/QuestionDishReader.java
Labels: :hammer: 수정, backend, 🕹 기능

#159 refactor: list 변수명 수정, 저장 기능 return 값 수정
  backend/src/main/java/com/umc/mwomeokji/domain/dish/category/dto/CategoryMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/api/DishController.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/application/DishService.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/application/DishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/dish/dish/dto/DishMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/application/QuestionServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/domain/Question.java
  backend/src/main/java/com/umc/mwomeokji/domain/question/dto/QuestionMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/questiondish/application/QuestionDishServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/api/UserController.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/application/UserService.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/application/UserServiceImpl.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/dao/UserRepository.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/domain/User.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/dto/UserDto.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/dto/UserMapper.java
  backend/src/main/java/com/umc/mwomeokji/domain/user/exception/dummy.txt
Labels: :wrench: 리팩토링, backend

#160 chore: 프로젝트 설명을 위한 README.md 파일 작성
  README.md
Labels: ⚙️ 설정
